<table style="font-size:14px;border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;height:100%;width:100%;color:#222222;font-family:&quot;Helvetica&quot;,&quot;Arial&quot;,sans-serif;font-weight:normal;line-height:1.5;margin:0;padding:0;background-color:rgb(242,243,244)">

    <tbody><tr style="vertical-align:top;text-align:left;padding:0" align="left">

        <td align="center" valign="top" style="border-collapse:collapse!important;vertical-align:top;text-align:center;color:#222222;font-family:'Helvetica','Arial',sans-serif;font-weight:normal;line-height:1.5;font-size:14px;margin:0;padding:0">

            <center style="width:100%;min-width:580px;clear:both">

                <table style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:inherit;width:580px;padding:0">

                    <tbody><tr style="vertical-align:top;text-align:left;padding:0" align="left">

                        <td style="border-collapse:collapse!important;vertical-align:top;text-align:left;color:#222222;font-family:'Helvetica','Arial',sans-serif;font-weight:normal;line-height:1.5;font-size:14px;margin:0;padding:0" align="left" valign="top">





                            <div></div>

                            <table id="m_-6369657038585367500bg186" style="border-spacing:0px;border-collapse:collapse;
                            vertical-align:top;text-align:left;width:100%;max-width:580px;border:0px solid #f43b48 ;
                            background-color:#f43b48 "><tbody><tr style="vertical-align:top;text-align:left;
                            padding:0" align="left">
                                    <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;
                                    text-align:left;color:#222222;font-weight:normal;line-height:1.5!important;
                                    font-size:14px;margin:0;padding:20px;border:0px solid #fff" align="left" valign="top"><div id="m_-6369657038585367500text-24"
                                                                                                                               style="text-align:center;font-size:24px;color:rgb(255,255,255);padding-top:0px">
                                        </div></td></tr></tbody></table>

                            <div></div>

                            <table id="m_-6369657038585367500bg177" style="border-spacing:0px;border-collapse:collapse;vertical-align:top;text-align:left;width:100%;max-width:580px;border-width:0px;border-style:solid none none;border-color:rgb(177,228,253);background-color:rgb(255,255,255)"><tbody>
                                <tr style="vertical-align:top;text-align:left;padding:0" align="left">

                                    <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;text-align:left;color:#222222;font-weight:normal;line-height:1.5!important;font-size:14px;margin:0;padding:20px;border:0px solid #fff" align="left" valign="top">

                                        <div id="m_-6369657038585367500text-28" style="color:rgb(59,59,59);font-size:16px"><div>   Hi <strong>{{ user }}</strong>,<div><br></div>
                                                <div><br></div>
                                                <div>   Nouveau candidature </div>
                                                <div><br></div>
                                                <div><br></div>
                                                <div> <strong>Quiz: </strong>{{ quiz }}</div>
                                                <div><br></div>
                                                <div> <strong> Candidature: </strong>{{ condidat }}</div>

                                                <div><br></div>



                                            </div></div>

                                    </td></tr>
                                <tr><td valign="middle" style="font-family:'Open Sans',Arial,sans-serif;padding:16px 35px;font-size:14px;color:#ffffff;
                                line-height:22px;font-weight:bold;border-radius:4px" align="center" height="30">

                                        <table><tbody>
                                            <tr>
                                                <td valign="middle"
                                                    style="padding:15px 40px;font-size:15px;color:#ffffff;line-height:22px;
                                                    background-color:#a11549;font-weight:bold;border-radius:2px;
                                                    font-family:'Open Sans',Arial,sans-serif" align="center"
                                                    height="30">
                                                    <a href="{{ absolute_url(path('info_candidature', {'id':condidat.id}))}}"
                                                       style="text-decoration:none;color:#ffffff"
                                                       target="_blank"  >voir candidature</a>
                                                </td></tr></tbody></table>

                                    </td></tr>
                                <tr style="vertical-align:top;text-align:left;padding:0" align="left">

                                    <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;text-align:left;color:#222222;font-weight:normal;line-height:1.5!important;font-size:14px;margin:0;padding:20px;border:0px solid #fff" align="left" valign="top">

                                        <div><br></div>

                                        <div>Cordialement,</div>

                                        <div><br></div>



                                        </div></div>

                                    </td></tr></tbody></table>

                            <div></div>

                            <table id="m_-6369657038585367500bg187" style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;width:100%;max-width:580px;border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;width:100%;max-width:580px;border:0px solid #fff"><tbody>
                                <tr style="vertical-align:top;text-align:left;padding:0" align="left">
                                    <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;text-align:left;color:#222222;
                                    font-weight:normal;line-height:1.5!important;font-size:14px;margin:0;padding:20px;border:0px solid #fff"
                                        align="left" valign="top"><div id="m_-6369657038585367500text-1" style="text-align:center;color:rgba(34,34,34,0.42);font-size:12px">
                                            <div> All Rights Reserved</div></div></td></tr></tbody></table>

                            <table id="m_-6369657038585367500" style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;width:100%;max-width:580px;border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;width:100%;max-width:580px;border:0px solid #fff">

                                <tbody>

                                <tr style="vertical-align:top;text-align:left;padding:0" align="left">

                                    <td style="border-collapse:collapse!important;vertical-align:top;text-align:left;color:#222222;font-weight:normal;line-height:1.5!important;font-size:14px;margin:0;padding:20px;border:0px solid #fff" align="left" valign="top">



                                    </td>

                                </tr>

                                </tbody>

                            </table>



                        </td>

                    </tr>

                    </tbody></table>

            </center>

        </td>

    </tr>

    </tbody></table>
